@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}
/* .forgot-pass{
   position: absolute;
   bottom: 10%;
} */
/* .container .content h3{
   font-size: 30px;
   color:#333;
} */

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #33847d;
   text-align: center;
   width: 1500px;
   height: 1200;
}

/* .form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
} */

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}






body {
   /* background-color: #cce2e3; */
     font-family: Arial, sans-serif;
     font-size: 18px;
   }
   
   /* header {
     background-color: #333;
     color: #fff;
     padding: 1rem;
     border-radius: 23px;
   } */
   nav {
     margin: 0px auto 0;
   
     position: relative;
     width: 100%;
     height: 50px;
     background-color: #020d18;
     border-radius: 28px;
     font-size: 0;
   }
   nav a {
     line-height: 50px;
     height: 100%;
     font-size: 15px;
     display: inline-block;
     position: relative;
     z-index: 1;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     color: white;
     cursor: pointer;
   }
   nav .animation {
     position: absolute;
     height: 100%;
     top: 0;
     z-index: 0;
     transition: all .5s ease 0s;
     border-radius: 8px;
   }
   a:nth-child(1) {
     width: 100px;
   }
   a:nth-child(2) {
     width: 110px;
   }
   a:nth-child(3) {
     width: 100px;
   }
   a:nth-child(4) {
     width: 160px;
   }
   a:nth-child(5) {
     width: 120px;
   }
   nav .start-home, a:nth-child(1):hover~.animation {
     width: 100px;
     left: 0;
     background-color: #1abc9c;
   }
   nav .start-about, a:nth-child(2):hover~.animation {
     width: 110px;
     left: 100px;
     background-color: #e74c3c;
   }
   nav .start-blog, a:nth-child(3):hover~.animation {
     width: 100px;
     left: 210px;
     background-color: #3498db;
   }
   nav .start-portefolio, a:nth-child(4):hover~.animation {
     width: 160px;
     left: 310px;
     background-color: #9b59b6;
   }
   nav .start-contact, a:nth-child(5):hover~.animation {
     width: 120px;
     left: 470px;
     background-color: #e67e22;
   }
   
  